@media screen and (max-width: 720px){
    *{
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    p,a{
        font-size: 14px;
        line-height: 1.5;
    }
    .top h2{
       font-size: 40px;
    }
    .nav-pc{
        display: none;
    }
    nav, header, footer{
        max-width: 100%;
    }
    header{
        background-color: none;
    }
    main{
        padding: 0 5%;
    }
    .container{
        overflow: hidden;
    }
    .top{
        margin-bottom: 30%;
        max-width: 100%;
    }
    .p-text{
        max-width: 100%;
        height: auto;
        margin: 20% 5%;
    }
    .p-img{
        top: -15px;
    }
    .p-img img, .skill2 img{
        width: 60%;
    }
    .p-img span{
        position: absolute;
        top: 40px;
        left: 60px;
        font-size: 20px;
    }
    .name{
        font-size: 20px;
    }
    .skill1{
        margin-top: 10%;
    }
    .skill2 p{
        position: absolute;
        top: -75px;
        font-size: 20px;
    }
    .skill2 span{
        top: 40px;
        left: 65px;
        font-size: 20px;
    }
    .skill-box{
        flex-direction: column;
        text-align: center;
        height: auto;
        margin: 0 5% 10% 5%;
    }
    .s-img{
        margin: 10% 0;
        padding-bottom: 1%;
    }
    .s-box, .profile1{
        max-width: 100%;
        margin-bottom: 40%;
        margin: 0;
    }
    .s-box1, .s-box2, .s-box3{
        max-width: 100%;
        padding: 8%;
        margin: 7%;
    }
    .s-box1{
        margin-top: 10%;
    }
    .s-img img{
        width: 70%;
        text-align: center;
    }
    .skill1, .p-box{
        margin-bottom: 15%;
    }
    .s-img span{
        font-size: 20px;
    }
    .s-title{
        font-size: 18px;
    }
    .w-box1 img, .w-box2 img{
        width: 70%;
        margin: 8% 0;
    }
    .w-box1, .w-box2{
        max-width: 100%;
        margin-left: 13%;
        margin-right: 3%;
    }.w-box1{
        margin-bottom: 3%;
    }

    #works, #service{
        margin-bottom: 30%;
    }
    .formrun{
        text-align: center;
        margin-top: 20%;
    }
    input, textarea{
        width: 80%;
    }
    button{
        width: 30%;
    }
    .footer img{
        width: 70%;
    }
    .footer p{
        font-size: 8px;
    }
}
@media screen and (min-width: 720px){
    .nav-index{
        display: none;
    }
}